In [10]:
import pandas as pd 
import numpy as np

In [137]:
df= pd.read_csv(r"C:\DATA SCIENCE\PROJECT FOLDERS\prj_restaurant_recommendation\swiggy.csv")
df.tail()

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
148536,553122,The Food Delight,Yavatmal,--,Too Few Ratings,₹ 200,"Fast Food,Snacks",21522053000452,https://www.swiggy.com/restaurants/the-food-de...,"The Food Delight, 94MC+X35, New Singhania Naga...",Menu/553122.json
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,--,Too Few Ratings,₹ 300,Pizzas,license,https://www.swiggy.com/restaurants/maitri-food...,"MAITRI FOODS & BEVERAGES, POLIC MITRYA SOCIETY...",Menu/562647.json
148538,559435,Cafe Bella Ciao,Yavatmal,--,Too Few Ratings,₹ 300,"Fast Food,Snacks",21522251000378,https://www.swiggy.com/restaurants/cafe-bella-...,"Cafe Bella Ciao, SHOP NO 2 NEMANI MARKET SBI S...",Menu/559435.json
148539,418989,GRILL ZILLA,Yavatmal,--,Too Few Ratings,₹ 250,Continental,21521251000241,https://www.swiggy.com/restaurants/grill-zilla...,"GRILL ZILLA, SHO NO 2/6, POSTEL GROUND CHOWPAT...",Menu/418989.json
148540,447770,Lazeez kitchen,Yavatmal,--,Too Few Ratings,₹ 200,Pizzas,21521251000634,https://www.swiggy.com/restaurants/lazeez-kitc...,"Lazeez kitchen, 94G3+2RR, Wadgaon, Yavatmal, M...",Menu/447770.json

In [126]:
df.head()

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json

In [127]:
df.shape

(148541, 11)

In [128]:
df.columns

Index(['id', 'name', 'city', 'rating', 'rating_count', 'cost', 'cuisine',
       'lic_no', 'link', 'address', 'menu'],
      dtype='object')

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148541 non-null  int64
 1   name          148455 non-null  object
 2   city          148541 non-null  object
 3   rating        148455 non-null  object
 4   rating_count  148455 non-null  object
 5   cost          148410 non-null  object
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148541 non-null  object
 9   address       148455 non-null  object
 10  menu          148541 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB

In [65]:
df.shape

(148541, 11)

D TYPE MODIFICATION

In [ ]:
df['cost'] = df['cost'].astype(str)

In [146]:
df['cost'] = df['cost'].replace('₹', '', regex=False)

In [147]:
df['cost'].dtype

dtype('O')

In [ ]:
df['cost'] = df['cost'].replace(r'[^\d.]+', '', regex=True)

In [149]:
df['cost'] = df['cost'].str.replace(' ', '', regex=False)

In [150]:
df['cost'].replace('', np.nan, inplace=True)

C:\Users\123\AppData\Local\Temp\ipykernel_12592\2544684873.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cost'].replace('', np.nan, inplace=True)

In [151]:
print(df['cost'].head())

0    200
1    200
2    100
3    250
4    250
Name: cost, dtype: object

In [152]:
df['cost'] = df['cost'].astype(float)

In [ ]:
df['cost'] = df['cost'].fillna(df.groupby('city')['cost'].transform('mean'))
df['cuisine'] = df['cuisine'].fillna(df.groupby('city')['cuisine'].transform(lambda x: x.mode()[0]))

In [ ]:
df.isnull().sum()

In [ ]:
rows_with_nan = df[df['lic_no'].isnull()]

# Display the rows with NaN in the specified column
print(rows_with_nan)

In [ ]:
rows_with_nan = df[df['cost'].isnull()]

# Display the rows with NaN in the specified column
print(rows_with_nan)
df = df.dropna(subset=['name'])

In [ ]:
#df = df.dropna(subset=['lic_no'])

DUPLICATES

In [ ]:
for column in df.columns:
    dup_count = df[column].duplicated().sum()
    print(f"{column} - {dup_count}")

id - 0
name - 0
city - 112004
rating - 112776
rating_count - 112810
cost - 112467
cuisine - 110787
lic_no - 25400
link - 0
address - 0
menu - 0

In [31]:
dup= df['lic_no'].value_counts()
print(dup)

lic_no
license           10002
22122676000410      150
21220188001393      107
20821005003479      102
23321004001112       98
                  ...
21520251001103        1
21516407000361        1
21518407000643        1
21521251000558        1
11520053000069        1
Name: count, Length: 87427, dtype: int64

In [ ]:
df.drop_duplicates(subset=['name'], keep='first', inplace=True)

In [158]:
df.columns

Index(['id', 'name', 'city', 'rating', 'rating_count', 'cost', 'cuisine',
       'lic_no', 'link', 'address', 'menu'],
      dtype='object')

In [107]:
df['rating_count'].unique()

array(['Too Few Ratings', '50+ ratings', '100+ ratings', '20+ ratings',
       '500+ ratings', '1K+ ratings', '5K+ ratings', '10K+ ratings'],
      dtype=object)

In [159]:
df['name'].head()

0       AB FOODS POINT
1    Janta Sweet House
2    theka coffee desi
3            Singh Hut
4        GRILL MASTERS
Name: name, dtype: object

In [ ]:
for i in df.columns:
    print(f"df.rename(columns={{'{i}': 'new_column_name'}}, inplace=True)")

df.rename(columns={'id': 'new_column_name'}, inplace=True)
df.rename(columns={'name': 'new_column_name'}, inplace=True)
df.rename(columns={'city': 'new_column_name'}, inplace=True)
df.rename(columns={'rating': 'new_column_name'}, inplace=True)
df.rename(columns={'rating_count': 'new_column_name'}, inplace=True)
df.rename(columns={'cost': 'new_column_name'}, inplace=True)
df.rename(columns={'cuisine': 'new_column_name'}, inplace=True)
df.rename(columns={'lic_no': 'new_column_name'}, inplace=True)
df.rename(columns={'link': 'new_column_name'}, inplace=True)
df.rename(columns={'address': 'new_column_name'}, inplace=True)
df.rename(columns={'menu': 'new_column_name'}, inplace=True)

In [161]:
df.rename(columns={'id': 'ID.No'}, inplace=True)
df.rename(columns={'name': 'NAME'}, inplace=True)
df.rename(columns={'city': 'CITY'}, inplace=True)
df.rename(columns={'rating': 'RATING'}, inplace=True)
df.rename(columns={'rating_count': 'Rating_Count'}, inplace=True)
df.rename(columns={'cost': 'COST'}, inplace=True)
df.rename(columns={'cuisine': 'CUISINE'}, inplace=True)
df.rename(columns={'lic_no': 'License_No'}, inplace=True)
df.rename(columns={'link': 'LINK'}, inplace=True)
df.rename(columns={'address': 'ADDRESS'}, inplace=True)
df.rename(columns={'menu': 'MENU'}, inplace=True)

In [162]:
df.columns

Index(['ID.No', 'NAME', 'CITY', 'RATING', 'Rating_Count', 'COST', 'CUISINE',
       'License_No', 'LINK', 'ADDRESS', 'MENU'],
      dtype='object')

In [ ]:
df['NAME'] = df['NAME'].str.lower().str.capitalize()

In [164]:
df['NAME'].head()

0       Ab foods point
1    Janta sweet house
2    Theka coffee desi
3            Singh hut
4        Grill masters
Name: NAME, dtype: object

In [172]:
df['ID.No'].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: ID.No, dtype: float64

In [167]:
df.to_csv(r"C:\DATA SCIENCE\PROJECT FOLDERS\prj_restaurant_recommendation\3_cleaned_df.csv",index = False)

In [45]:
df1 = pd.read_csv(r"C:\DATA SCIENCE\PROJECT FOLDERS\prj_restaurant_recommendation\3_cleaned_df.csv")
df1.head()

,ID.No,NAME,CITY,RATING,Rating_Count,COST,CUISINE,License_No,LINK,ADDRESS,MENU
0,567335,Ab foods point,Abohar,--,Too Few Ratings,200.0,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta sweet house,Abohar,4.4,50+ ratings,200.0,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,Theka coffee desi,Abohar,3.8,100+ ratings,100.0,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh hut,Abohar,3.7,20+ ratings,250.0,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,Grill masters,Abohar,--,Too Few Ratings,250.0,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json

In [46]:
df1['ID.No'].tail()

112813    553122
112814    562647
112815    559435
112816    418989
112817    447770
Name: ID.No, dtype: int64

In [ ]:
print(df1['ID.No'].tail(10).tolist())

[378059, 529034, 185296, 561381, 214210, 553122, 562647, 559435, 418989, 447770]

In [48]:
df1['CITY'].head()

0    Abohar
1    Abohar
2    Abohar
3    Abohar
4    Abohar
Name: CITY, dtype: object

In [49]:
df1['CITY'].value_counts()

CITY
Bikaner                     1453
Noida-1                      991
Indirapuram,Delhi            986
Rohini,Delhi                 910
BTM,Bangalore                908
                            ...
Darjeeling                     1
BBK_Chattarpur,Delhi           1
Boisar                         1
Alwarpet,Chennai               1
Padmarao Nagar,Hyderabad       1
Name: count, Length: 814, dtype: int64

In [52]:
df1['RATING'].unique()

array(['0', '4.4', '3.8', '3.7', '3.6', '4.0', '4.2', '4.7', '4.1', '3.5',
       '3.1', '3.4', '3.3', '4.8', '3.9', '2.7', '4.3', '2.9', '4.5',
       '2.5', '3.2', '2.4', '4.6', '3.0', '2.8', '2.3', '5.0', '2.6',
       '2.2', '1.4', '4.9', '2.1', '1.3', '2.0', '1.8', '1.6', '1.9',
       '1.1', '1.5', '1.0', '1.2', '1.7'], dtype=object)

In [51]:
df1['RATING'] = df1['RATING'].str.replace('--', '0', regex=False)

In [54]:
df1['RATING'] = df1['RATING'].astype(float)

In [55]:
df1['RATING'].dtype

dtype('float64')

In [60]:
df1['Rating_Count'].unique()

array(['5+', '50+', '100+', '20+', '500+', '1K+', '5K+', '10K+'],
      dtype=object)

In [59]:
df1['Rating_Count'] = df1['Rating_Count'].str.replace('Too Few Ratings','5+')
df1['Rating_Count'] = df1['Rating_Count'].str.replace('ratings','')
df1['Rating_Count'] = df1['Rating_Count'].str.replace(r'\s+', '', regex=True)

In [64]:
random_values = df1['COST'].sample(n=10, random_state=42)

print(random_values)

56961     800.0
105068    150.0
6046      250.0
13256     150.0
2724      500.0
97571     500.0
43597     300.0
58281     250.0
88530     300.0
21231     500.0
Name: COST, dtype: float64

In [65]:
random_values = df1['CUISINE'].sample(n=10, random_state=42)

print(random_values)

56961          Asian,Continental
105068                   Chinese
6046              Indian,Chinese
13256     South Indian,Beverages
2724                Combo,Indian
97571        North Indian,Indian
43597                     Indian
58281                   Desserts
88530               North Indian
21231                     Indian
Name: CUISINE, dtype: object

In [66]:
df1['CUISINE'].value_counts()

CUISINE
Indian                  5617
North Indian,Chinese    5424
Chinese                 4244
North Indian            4025
Indian,Chinese          3885
                        ...
Tandoor ,indian            1
Japanese,Fast Food         1
Tibetan,Arabian            1
Gujarati,Italian           1
Kerala,Home Food           1
Name: count, Length: 2030, dtype: int64

In [67]:
df1['CUISINE'] = df1['CUISINE'].astype(str)

In [68]:
df1['CUISINE'].dtype

dtype('O')

In [69]:
df1.columns

Index(['ID.No', 'NAME', 'CITY', 'RATING', 'Rating_Count', 'COST', 'CUISINE',
       'License_No', 'LINK', 'ADDRESS', 'MENU'],
      dtype='object')

In [71]:
print(df1['LINK'].head())
print(df1['LINK'].dtype)

0    https://www.swiggy.com/restaurants/ab-foods-po...
1    https://www.swiggy.com/restaurants/janta-sweet...
2    https://www.swiggy.com/restaurants/theka-coffe...
3    https://www.swiggy.com/restaurants/singh-hut-n...
4    https://www.swiggy.com/restaurants/grill-maste...
Name: LINK, dtype: object
object

In [74]:
print(df1['ADDRESS'].head())

0    Ab Foods Point, Near Rishi Narang Dental Clini...
1    Janta Sweet House, Bazar No.9, Circullar Road,...
2           Theka Coffee Desi, Sahtiya Sadan Road City
3      Singh Hut, Circular Road Near Nehru Park Abohar
4    Grill Masters, Ada Heights, Abohar - Hanumanga...
Name: ADDRESS, dtype: object

In [73]:
def clean_address(address):
    address = address.lower()  # Convert to lowercase
    address = address.replace('...', '')  # Remove ellipsis if any
    address = address.strip()  # Remove leading and trailing spaces
    address = ' '.join(address.split())  # Remove extra spaces
    address = address.title()  # Convert to title case
    return address

# Apply the cleaning function to each address
df1['ADDRESS'] = df1['ADDRESS'].apply(clean_address)

In [75]:
print(df1['MENU'].head())

0    Menu/567335.json
1    Menu/531342.json
2    Menu/158203.json
3    Menu/187912.json
4    Menu/543530.json
Name: MENU, dtype: object

In [76]:
df1.to_csv(r'C:\DATA SCIENCE\PROJECT FOLDERS\prj_restaurant_recommendation\cleaned_df.csv',index = False)

In [77]:
df2 = pd.read_csv(r'C:\DATA SCIENCE\PROJECT FOLDERS\prj_restaurant_recommendation\cleaned_df.csv')
df2

,ID.No,NAME,CITY,RATING,Rating_Count,COST,CUISINE,License_No,LINK,ADDRESS,MENU
0,567335,Ab foods point,Abohar,0.0,5+,200.0,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"Ab Foods Point, Near Rishi Narang Dental Clini...",Menu/567335.json
1,531342,Janta sweet house,Abohar,4.4,50+,200.0,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,Theka coffee desi,Abohar,3.8,100+,100.0,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"Theka Coffee Desi, Sahtiya Sadan Road City",Menu/158203.json
3,187912,Singh hut,Abohar,3.7,20+,250.0,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, Circular Road Near Nehru Park Abohar",Menu/187912.json
4,543530,Grill masters,Abohar,0.0,5+,250.0,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"Grill Masters, Ada Heights, Abohar - Hanumanga...",Menu/543530.json
...,...,...,...,...,...,...,...,...,...,...,...
112813,553122,The food delight,Yavatmal,0.0,5+,200.0,"Fast Food,Snacks",21522053000452,https://www.swiggy.com/restaurants/the-food-de...,"The Food Delight, 94Mc+X35, New Singhania Naga...",Menu/553122.json
112814,562647,Maitri foods & beverages,Yavatmal,0.0,5+,300.0,Pizzas,license,https://www.swiggy.com/restaurants/maitri-food...,"Maitri Foods & Beverages, Polic Mitrya Society...",Menu/562647.json
112815,559435,Cafe bella ciao,Yavatmal,0.0,5+,300.0,"Fast Food,Snacks",21522251000378,https://www.swiggy.com/restaurants/cafe-bella-...,"Cafe Bella Ciao, Shop No 2 Nemani Market Sbi S...",Menu/559435.json
112816,418989,Grill zilla,Yavatmal,0.0,5+,250.0,Continental,21521251000241,https://www.swiggy.com/restaurants/grill-zilla...,"Grill Zilla, Sho No 2/6, Postel Ground Chowpat...",Menu/418989.json
112817,447770,Lazeez kitchen,Yavatmal,0.0,5+,200.0,Pizzas,21521251000634,https://www.swiggy.com/restaurants/lazeez-kitc...,"Lazeez Kitchen, 94G3+2Rr, Wadgaon, Yavatmal, M...",Menu/447770.json

In [78]:
df2.columns

Index(['ID.No', 'NAME', 'CITY', 'RATING', 'Rating_Count', 'COST', 'CUISINE',
       'License_No', 'LINK', 'ADDRESS', 'MENU'],
      dtype='object')

In [82]:
df2['Rating_Count'].unique()

array([5.e+00, 5.e+01, 1.e+02, 2.e+01, 5.e+02, 1.e+03, 5.e+03, 1.e+04])

In [81]:
def convert_rating_count(value):
    value = str(value).replace('+', '').strip().upper()
    if 'K' in value:
        return float(value.replace('K', '')) * 1000
    else:
        return float(value)

# Apply the function to the column
df2['Rating_Count'] = df2['Rating_Count'].apply(convert_rating_count)

In [84]:
df2['Rating_Count'].tail()

112813    5.0
112814    5.0
112815    5.0
112816    5.0
112817    5.0
Name: Rating_Count, dtype: float64

In [85]:
df2['Rating_Count'] = df2['Rating_Count'].astype(int)

In [87]:
df2.to_csv(r'C:\DATA SCIENCE\PROJECT FOLDERS\prj_restaurant_recommendation\cleaned_df.csv',index = False)